.grid__col--3,
.grid__col--9 {
    text-align: center;
}

nav ul {
  margin-left: 0;
  padding-left: 0;
  li {
    list-style-type: none;
    a {
      text-decoration: none;
      color: $nav-text;
    }
    &:hover {
      color: white;
      background: $viking;
    }
  }
}
